<style>
/* doc sidebar */
.jianghu-doc-sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: var(--vp-z-index-sidebar);
    padding: 0 32px 96px;
    width: calc(100vw - 64px);
    max-width: var(--vp-sidebar-width-mobile);
    opacity: 0;
    background-color: var(--vt-c-bg);
    box-shadow: var(--vt-c-shadow-3);
    overflow-x: hidden;
    overflow-y: auto;
    transform: translate(-100%);
    transition: background-color .5s,opacity .5s,transform .3s ease;
    -webkit-transition: background-color .5s,opacity .5s,transform .3s ease;
    -moz-transition: background-color .5s,opacity .5s,transform .3s ease;
    -ms-transition: background-color .5s,opacity .5s,transform .3s ease;
    -o-transition: background-color .5s,opacity .5s,transform .3s ease;
}
.jianghu-doc-sidebar::-webkit-scrollbar {
    display: none; /* Chrome Safari */
    scrollbar-width: none; /* firefox */
    -ms-overflow-style: none; /* IE 10+ */
}
.jianghu-doc-sidebar.open{
    opacity: 1;
    visibility: visible;
    transform: translate(0);
    transition: background-color .5s,opacity .25s,transform .5s cubic-bezier(.19,1,.22,1);
}
.jianghu-doc-sidebar-nav{
    padding-top: 24px;
    outline: 0;
}
.jianghu-doc-sidebar-group+.jianghu-doc-sidebar-group{
    padding-top: 24px;
}
.jianghu-doc-sidebar-group+.jianghu-doc-sidebar-group.no-group{
    padding-top: 0;
}
.jianghu-doc-sidebar-group-title{
    padding: 6px 0;
}
.jianghu-doc-sidebar-group-title-text{
    line-height: 20px;
    font-size: 13px;
    font-weight: 600;
    color: var(--vt-c-text-5);
    transition: color .5s;
}
.jianghu-doc-sidebar-group-link{
    display: block;
    padding: 6px 0;
}
.jianghu-doc-sidebar-group-link-text{
    line-height: 20px;
    font-size: 13px;
    font-weight: 500;
    color: var(--vt-c-text-inverse-5);
    transition: color .5s;
}
.jianghu-doc-sidebar-group-link-active .jianghu-doc-sidebar-group-link-text{
    font-weight: 600;
    color: var(--vt-c-brand);
    transition: color .25s;
}
.jianghu-doc-sidebar-group-link:hover .jianghu-doc-sidebar-group-link-text{
    color: var(--vt-c-text-light-1);
    transition: color .25s;
}
.jianghu-doc-sidebar-group-link-active:hover .jianghu-doc-sidebar-group-link-text{
    color: var(--vt-c-brand);
}
@media (min-width: 960px){
    .jianghu-doc-sidebar {
        top: calc(var(--vt-nav-height) + var(--vt-banner-height, 0px));
        z-index: 1;
        border-right: 1px solid var(--vt-c-divider-light);
        width: var(--vp-sidebar-width-small);
        max-width: 100%;
        opacity: 1;
        visibility: visible;
        box-shadow: none;
        transform: translate(0);
        transition: border-color .5s,background-color .5s;
        
    }
    .jianghu-doc-sidebar-group+.jianghu-doc-sidebar-group{
        padding-top: 16px;
    }
    .jianghu-doc-sidebar-group-title{
        padding: 4px 0;
    }
    .jianghu-doc-sidebar-group-link{
        padding: 4px 0;
    }
}
@media (min-width: 1440px){
    .jianghu-doc-sidebar {
        padding: 0 32px 96px calc((100% - var(--vp-screen-max-width)) / 2);
        width: calc((100% - var(--vp-screen-max-width)) / 2 + var(--vp-sidebar-width-small));
    }
}

/* doc content */
.jianghu-doc-contentDoc {
    padding: 32px 24px 96px;
    min-height: calc(100vh - var(--vt-nav-height));
}
.jianghu-doc-contentDoc-aside {
    position: relative;
    display: none;
    flex-shrink: 0;
    padding-left: 64px;
    width: 320px;
}
.jianghu-doc-contentDoc-aside-container {
    position: sticky;
    width: 224px;
    top: calc(var(--vt-nav-height) + var(--vt-banner-height, 0px) + 24px);
    bottom: 0;
}
.jianghu-doc-contentDoc-aside-outline {
    font-size: 13px;
    font-weight: 500;
    position: relative;
}
.jianghu-doc-contentDoc-aside-outline-title{
    font-weight: 700;
    margin-bottom: 4px;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: .4px;
}
.jianghu-doc-contentDoc-aside-outline-link{
    color: var(--vt-c-text-inverse-6) !important;
    line-height: 28px !important;
    display: block !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    margin: 0 !important;
    font-weight: 500 !important;
    padding: 0 8px !important;
    position: relative;
}
.jianghu-doc-contentDoc-aside-outline-link:before{
    content: '';
    position: absolute;
    background-color: var(--vt-c-green);
    border-radius: 4px;
    width: 4px;
    height: 20px;
    opacity: 0;
    top: 5px;
    left: 0;
    z-index: 0;
    transition: top .25s cubic-bezier(0,1,.5,1),opacity .3s,background-color .5s;
    -webkit-transition: top .25s cubic-bezier(0,1,.5,1),opacity .3s,background-color .5s;
    -moz-transition: top .25s cubic-bezier(0,1,.5,1),opacity .3s,background-color .5s;
    -ms-transition: top .25s cubic-bezier(0,1,.5,1),opacity .3s,background-color .5s;
    -o-transition: top .25s cubic-bezier(0,1,.5,1),opacity .3s,background-color .5s;
}
.jianghu-doc-contentDoc-aside-outline-link.active{
    border-left: none !important;
}
.jianghu-doc-contentDoc-aside-outline-link.active:before{
    opacity: 1;
    transition: top .25s cubic-bezier(0,1,.5,1),opacity .25s,background-color .5s;
}
.jianghu-doc-contentDoc-aside-outline-link:hover, .jianghu-doc-contentDoc-aside-outline-link.active{
    color: var(--vt-c-text-1) !important;
}
.jianghu-doc-contentDoc-aside-menu .nav-item{
    width: 100%;
}
.jianghu-doc-contentDoc-content {
    margin: 0 auto;
    max-width: 688px;
    position: relative;
}
.jianghu-doc-contentDoc-main-doc{
    font-size: 16px;
    line-height: 1.7;
    --vt-doc-code-font-size: 14px;
    --vt-doc-code-line-height: 1.5;
    margin-bottom: 54px;
    position: relative;
}
.jianghu-doc-contentDoc-main-edit-links{
    margin: 0 0 32px;
    display: flex;
    justify-content: space-between;
}
.jianghu-doc-contentDoc-main-edit-icon{
    width: 18px;
    height: 18px;
    color: var(--vt-c-brand);
    display: inline-block;
    margin-right: 8px;
    position: relative;
}
.jianghu-doc-contentDoc-main-edit-link{
    font-size: 14px;
    color: var(--vt-c-brand);
    font-weight: 500;
    margin-right: 20px;
}
.jianghu-doc-contentDoc-main-edit-link:hover{
    color: var(--vt-c-brand);
}
.jianghu-doc-contentDoc-main-update-time{
    font-size: 11px;
    color: var(--vt-c-text-2);
}
.jianghu-doc-contentDoc-footer {
    border-top: 1px solid var(--vt-c-divider-light);
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
}
.jianghu-doc-contentDoc-footer-link {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    max-width: 48%;
}
.jianghu-doc-contentDoc-footer-link .jianghu-doc-contentDoc-footer-next-link {
    margin-left: auto;
    text-align: right;
}
.jianghu-doc-contentDoc-footer-desc {
    font-size: 11px;
    color: var(--vt-c-text-2);
    display: block;
}
.jianghu-doc-contentDoc-footer-title {
    color: var(--vt-c-brand);
    transition: color .25s;
}
.jianghu-doc-contentDoc-footer-icon{
    display: inline-block;
    margin-top: -2px;
    margin-left: 4px;
    width: 11px;
    height: 11px;
    fill: var(--vt-c-text-3);
    transition: fill .25s;
    margin: -2px 0 0;
    vertical-align: middle;
}
.jianghu-doc-contentDoc-footer-link:hover .jianghu-doc-contentDoc-footer-title {
    color: var(--vt-c-brand-highlight);
}
@media (min-width: 768px){
    .jianghu-doc-contentDoc {
        padding: 48px 32px 96px;
    }
}
@media (min-width: 960px){
    .jianghu-doc-content{
        padding-top: var(--vt-nav-height);
    }
    .jianghu-doc-content.jianghu-doc-content-has-sidebar{
        padding-left: var(--vp-sidebar-width-small);
    }
    .jianghu-doc-contentDoc {
        padding: 64px 64px 96px;
    }
}
@media (min-width: 1280px){
    .jianghu-doc-contentDoc {
        padding: 64px 0 96px 64px;
    }
    .jianghu-doc-contentDoc-container {
        display: flex;
    }
    .jianghu-doc-contentDoc-aside {
        display: block;
        order: 2;
    }
    .jianghu-doc-contentDoc-content {
        min-width: 688px;
        margin: 0;
        order: 1;
    }    
}
@media (min-width: 1440px){
    .jianghu-doc-content.jianghu-doc-content-has-sidebar{
        padding-left: calc((100vw - var(--vp-screen-max-width)) / 2 + var(--vp-sidebar-width-small));
    }
    .jianghu-doc-contentDoc {
        padding: 64px 0 96px 96px;
    }
    .jianghu-doc-contentDoc-aside {
        padding-left: 96px;
    }
}
@media (max-width: 960px){
    .jianghu-doc-contentDoc-aside{
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: var(--vp-z-index-sidebar);
        padding: 0 32px 96px;
        width: calc(100vw - 64px);
        max-width: var(--vp-sidebar-width-mobile);
        opacity: 0;
        background-color: var(--vt-c-bg);
        box-shadow: var(--vt-c-shadow-3);
        overflow-x: hidden;
        overflow-y: auto;
        transform: translate(100%);
        transition: background-color .5s,opacity .5s,transform .3s ease;
        -webkit-transition: background-color .5s,opacity .5s,transform .3s ease;
        -moz-transition: background-color .5s,opacity .5s,transform .3s ease;
        -ms-transition: background-color .5s,opacity .5s,transform .3s ease;
        -o-transition: background-color .5s,opacity .5s,transform .3s ease;
        -webkit-transform: translate(100%);
        -moz-transform: translate(100%);
        -ms-transform: translate(100%);
        -o-transform: translate(100%);
}
    .jianghu-doc-contentDoc-aside.open{
        opacity: 1;
        visibility: visible;
        transform: translate(0);
        transition: background-color .5s,opacity .25s,transform .5s cubic-bezier(.19,1,.22,1);
    }
}
</style>