{% set appId = ctx.app.config.appId %}
{% set userId = userInfo.userId %}
{% set username = userInfo.username %}
{% set adminUrl = ctx.app.config.adminUrl %}
{% set static = "/" + appId + "/public" %}
{% set upload = "/" + appId + "/upload" %}
{% set pageUrl = "/" + appId + "/page" %}
{% import "component/macro.html" as macro %}

<!-- mock -->
{% set helpTab = [
  {
    name: '关于我们',
    icon: 'fas fa-chart-pie fa-fw'
  },
  {
    name: 'FQA',
    icon: 'fas fa-chart-line fa-fw'
  },
  {
    name: '社区规则',
    icon: 'fas fa-chart-line fa-fw'
  },
  {
    name: '我们的愿景',
    icon: 'fas fa-chart-line fa-fw'
  }
]%}
{% set systemMes = [
  {
    title: '创意设计师节',
    time: '2分钟前',
    node: '活动',
    user: '系统管理员',
    description: '秀的创意设计师，丰厚的奖金和奖品等你来拿哦，赶快来参加吧',
    unread: true
  },
  {
    title: '消息中心上线',
    time: '12分钟前',
    node: '公告',
    user: '系统管理员',
    description: '消息中心上线啦，快来体验吧～～～',
    unread: true
  }
]%}
{% set messageTab = [
  {
    name: '回复',
    icon: 'fas fa-chart-pie fa-fw'
  },
  {
    name: '公告',
    icon: 'fas fa-chart-line fa-fw'
  }
]%}
{% set allow = ['允许', '不允许']%}
{% set userType = [{label: '所有人', value: 'all'}, {label: '已登录用户', value: 'login'}, {label: '仅自己', value: 'self'}] %}
{% set settingTab = [
  {
    name: '个人信息',
    icon: 'fas fa-chart-pie fa-fw'
  },
  {
    name: '头像',
    icon: 'fas fa-chart-line fa-fw'
  },
  {
    name: '社交网络',
    icon: 'fas fa-chart-line fa-fw'
  },
  {
    name: '修改密码',
    icon: 'fas fa-cogs fa-fw'
  }
]%}
{% set collectUser = [
  {
    name: 'John',
    description: '明天会更好',
    avatar: 'https://mdbootstrap.com/img/new/avatars/7.jpg',
    join: '2022-07-30 15:39:31',
    number: 888,
    activity: 99,
    online: true
  },
  {
    name: 'kate',
    description: '追梦赤子心',
    avatar: 'https://mdbootstrap.com/img/new/avatars/6.jpg',
    join: '2022-07-30 15:39:31',
    number: 888,
    activity: 99,
    online: true
  }
]%}
{% set collectTab = [
  {
    name: '节点',
    icon: 'fas fa-chart-pie fa-fw'
  },
  {
    name: '主题',
    icon: 'fas fa-chart-line fa-fw'
  },
  {
    name: '特别关注',
    icon: 'fas fa-cogs fa-fw'
  }
]%}
{% set repos = [
  {
    name: 'Coding-iOS',
    description: 'CODING iOS 客户端源代码',
    link: 'https://github.com/Coding/Coding-iOS',
    follow: 3782
  },
  {
    name: 'Coding-iPad',
    description: 'CODING iPad 客户端源代码',
    link: 'https://github.com/Coding/Coding-iOS',
    follow: 37
  },
  {
    name: 'Coding-Android',
    description: 'Coding Android 客户端源代码',
    link: 'https://github.com/Coding/Coding-iOS',
    follow: 3
  }
]%}
{% set replyList = [
  {
    title: '工作的意义究竟是什么',
    user: {
      name: 'john',
      avatars: 'https://mdbootstrap.com/img/new/avatars/8.jpg'
    },
    time: '2分钟前',
    lastReply: 'alex',
    node: 'Python',
    allReply: 73,
    thank: 12,
    reply: '那还能自己加内存吗',
    unread: true
  },
  {
    title: 'Android13 正式版发布',
    user: {
      name: 'alex',
      avatars: 'https://mdbootstrap.com/img/new/avatars/7.jpg'
    },
    time: '2分钟前',
    lastReply: 'kate',
    node: '云计算',
    allReply: 33,
    reply: '我个人认为，就是产品定位不允许。 苹果可以做到 16GB 内存要你 3000 人民币，而且再加 32GB 还是 3000 。 如果 intel 这么做，AMD 做梦都能笑醒。'
  },
  {
    title: 'ios16 这个剪贴板确认也太烦了',
    user: {
      name: 'kate',
      avatars: 'https://mdbootstrap.com/img/new/avatars/6.jpg'
    },
    time: '2分钟前',
    lastReply: 'soraya',
    node: 'Apple',
    allReply: 23,
    reply: '@Leonard 不用自己加内存了，出厂 i3 配 8G, i5 配 16G ，i7 配 32G, i9 配 64G 。 一般来说，内存大小总是和 CPU 能力成正比的。'
  },
  {
    title: 'macOS 感觉最近鼠标单击出现了 bug',
    user: {
      name: 'soraya',
      avatars: 'https://mdbootstrap.com/img/new/avatars/9.jpg'
    },
    time: '2分钟前',
    lastReply: 'ayat',
    node: 'vue',
    allReply: 3,
    reply: 'm1 只是 dram 和 SoC 在同一基板上而已, 只是不可更换, 并不能算集成进 SoC. 如果你需要这样的 pc 可以看看一些笔记本.'
  }
]
%}
{% set user = {
    name: 'Dizzy',
    description: '简单介绍一下简单介绍一下简单介绍一下简单介绍一下简单介绍一下简单介绍一下简单介绍一下简单介绍一下简单介绍一下简单介绍一下简单介绍一下简单介绍一下简单介绍一下简单介绍一下简单介绍一下',
    avatar: 'https://cdn.v2ex.com/avatar/e10f/5e11/339476_xlarge.png?m=1660658036',
    email: '123456@qq.com',
    join: '2022-07-30 15:39:31',
    number: 888,
    activity: 99,
    online: true,
    shieldNode: 2,
    shieldUser: 3,
    shieldSub: 4,
    message: 5
}%}
{% set rules = [
  {
    title: '尊重原创',
    description: "请不要发布任何盗版下载链接，包括软件、音乐、电影等等。"
  },
  {
    title: '友好互助',
    description: "保持对陌生人的友善，用知识去帮助别人。"
  }
]%}
{% set createWarn = [
  {
    title: '主题标题',
    description: "在标题中描述内容要点。如果一件事情在标题的长度内就已经可以说清楚，那就没有必要写正文了。"
  },
  {
    title: '正文',
    description: "可以在正文中为你要发布的主题添加更多细节。"
  },
  {
    title: '选择节点',
    description: "为你的主题选择一个节点，恰当的归类会让你发布的信息更加有用。"
  }
]%}
{% set reply = [
  {
    content: '那还能自己加内存吗',
    user: {
      name: 'john',
      avatars: 'https://mdbootstrap.com/img/new/avatars/6.jpg'
    },
    time: '23 小时 36 分钟前',
    thank: 12,
    loop: 1
  },  
  {
    content: '我个人认为，就是产品定位不允许。
    苹果可以做到 16GB 内存要你 3000 人民币，而且再加 32GB 还是 3000 。
    
    如果 intel 这么做，AMD 做梦都能笑醒。',
    user: {
      name: 'kop1989smurf',
      avatars: 'https://mdbootstrap.com/img/new/avatars/7.jpg'
    },
    time: '23 小时 36 分钟前',
    thank: 1,
    loop: 2
  },  
  {
    content: '@Leonard 不用自己加内存了，出厂 i3 配 8G, i5 配 16G ，i7 配 32G, i9 配 64G 。

    一般来说，内存大小总是和 CPU 能力成正比的。',
    user: {
      name: 'xtreme1',
      avatars: 'https://mdbootstrap.com/img/new/avatars/8.jpg'
    },
    time: '23 小时 36 分钟前',
    thank: 0,
    loop: 3
  },  
  {
    content: 'm1 只是 dram 和 SoC 在同一基板上而已, 只是不可更换, 并不能算集成进 SoC.
    如果你需要这样的 pc 可以看看一些笔记本.',
    user: {
      name: 'Leonard',
      avatars: 'https://mdbootstrap.com/img/new/avatars/9.jpg'
    },
    time: '23 小时 36 分钟前',
    thank: 0,
    loop: 4
  },  
  {
    content: '那我要组一个 256GB 内存的塔式工作站，得上 4 路 i9 ？
    还是至强 U 上能包个 128GB 内存？',
    user: {
      name: 'westoy',
      avatars: 'https://mdbootstrap.com/img/new/avatars/10.jpg'
    },
    time: '23 小时 36 分钟前',
    thank: 0,
    loop: 5
  },  
  {
    content: 'intel 主要做供应链的啊， 无非就是大头服务器 + 整机商， 小头 DIY

    服务器和 DIY 直接一票否
    
    整机商要考虑平衡多供应链的， 今天三星涨价或者出货量少了， 人就去加大采购海力士的， 会选这种被 intel 出货量直接捏住蛋蛋的东西么?',
    user: {
      name: 'dunn',
      avatars: 'https://mdbootstrap.com/img/new/avatars/11.jpg'
    },
    time: '23 小时 36 分钟前',
    thank: 0,
    loop: 6
  }
]%}
{% set subject = {
  title: '新一代 Intel 为啥不学一下苹果 M1/M2 的 SoC 设计， CPU 集成内存呢？',
  description: "物理距离 CPU 越近了，性能肯定就越高。

  反正新一代 CPU ，都是需要重新设计主板的，可以直接把 CPU 面积做大，集成内存。
  
  这样就没双通道内存的问题，组个 256 通道都可以，肯定能显著提升内存性能。",
  user: {
    name: 'Dizzy',
    avatar: 'https://cdn.v2ex.com/avatar/e10f/5e11/339476_xlarge.png?m=1660658036'
  },
  node: '硬件',
  time: '12 小时 12 分钟前',
  like: 11,
  view: 111,
  collect: 222,
  allReply: 90,
  lastReply: '2022-08-18 23:02:07',
  tag: ['cpu','内存','soc', '通道']
}%}
{% set nodeDetail = {
  name: 'Node.js',
  description: "Node.js is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications.",
  icon: 'https://cdn.v2ex.com/navatar/2421/fcb1/436_large.png?m=1650095204',
  total: 111,
  collect: 222
}%}
{% set category = [
  {
    name: '技术',
    icon: 'fas fa-chart-pie fa-fw',
    total: 111
  },
  {
    name: '创意',
    icon: 'fas fa-chart-line fa-fw',
    total: 22
  },
  {
    name: '好玩',
    icon: 'fas fa-cogs fa-fw',
    total: 13
  },
  {
    name: '最热',
    icon: 'fas fa-cogs fa-fw',
    total: 44
  },
  {
    name: '全部',
    icon: 'fas fa-cogs fa-fw',
    total: 55
  }
]%}
{% set links = [
  {
    name: '关于我们',
    url: ''
  },
  {
    name: 'FQA',
    url: ''
  },
  {
    name: '帮助文档',
    url: ''
  },
  {
    name: '我们的愿景',
    url: ''
  }
]%}
{% set collectNodes = [
  {
    name: '程序员',
    avatars: 'https://cdn.v2ex.com/navatar/94f6/d7e0/300_normal.png?m=1659331259'
  },
  {
    name: '云计算',
    avatars: 'https://cdn.v2ex.com/navatar/c9e1/074f/104_xlarge.png?m=1659331304'
  }
]%}
{% set nodes = ['Python', 'node.js', '云计算', 'Apple', 'iPad']%}
{% set hotList = [
  {
    title: '工作的意义究竟是什么',
    user: {
      name: 'john',
      avatars: 'https://mdbootstrap.com/img/new/avatars/6.jpg'
    },
    time: '2分钟前',
    lastReply: 'alex',
    node: 'Python',
    allReply: 73
  },
  {
    title: 'Android13 正式版发布',
    user: {
      name: 'alex',
      avatars: 'https://mdbootstrap.com/img/new/avatars/7.jpg'
    },
    time: '2分钟前',
    lastReply: 'kate',
    node: '云计算',
    allReply: 33
  }
]
%}
{% set historyList = [
  {
    title: '工作的意义究竟是什么',
    user: {
      name: 'john',
      avatars: 'https://mdbootstrap.com/img/new/avatars/8.jpg'
    },
    time: '2分钟前',
    lastReply: 'alex',
    node: 'Python',
    allReply: 73
  },
  {
    title: 'Android13 正式版发布',
    user: {
      name: 'alex',
      avatars: 'https://mdbootstrap.com/img/new/avatars/7.jpg'
    },
    time: '2分钟前',
    lastReply: 'kate',
    node: '云计算',
    allReply: 33
  }
]
%}
{% set subjectList = [
  {
    title: '工作的意义究竟是什么',
    user: {
      name: 'john',
      avatars: 'https://mdbootstrap.com/img/new/avatars/8.jpg'
    },
    time: '2分钟前',
    lastReply: 'alex',
    node: 'Python',
    allReply: 73,
    thank: 12
  },
  {
    title: 'Android13 正式版发布',
    user: {
      name: 'alex',
      avatars: 'https://mdbootstrap.com/img/new/avatars/7.jpg'
    },
    time: '2分钟前',
    lastReply: 'kate',
    node: '云计算',
    allReply: 33
  },
  {
    title: 'ios16 这个剪贴板确认也太烦了',
    user: {
      name: 'kate',
      avatars: 'https://mdbootstrap.com/img/new/avatars/6.jpg'
    },
    time: '2分钟前',
    lastReply: 'soraya',
    node: 'Apple',
    allReply: 23
  },
  {
    title: 'macOS 感觉最近鼠标单击出现了 bug',
    user: {
      name: 'soraya',
      avatars: 'https://mdbootstrap.com/img/new/avatars/9.jpg'
    },
    time: '2分钟前',
    lastReply: 'ayat',
    node: 'vue',
    allReply: 3
  },
  {
    title: 'Google Voice 回收时间缩短至 30 天',
    user: {
      name: 'ayat',
      avatars: 'https://mdbootstrap.com/img/new/avatars/10.jpg'
    },
    time: '2分钟前',
    lastReply: 'john',
    node: 'java',
    allReply: 13
  }
]
%}

<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta charset="UTF-8">
  <meta name=renderer content=webkit>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
  <meta http-equiv="Cache-Control" content="no-transform" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <meta http-equiv="Cache-Control" content="max-age=7200" />
  <!-- <meta name="referrer" content="no-referrer"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="{% block keyword %}{% endblock %}<$ site_keywords $>" />
  <meta name="description" content="{% block description %}{% endblock %}" />
  <!-- OGP分享协议开始 -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="{% block ogp_title %}{% endblock %}">
  <meta property="og:description" content="{% block ogp_desc %}{% endblock %}">
  <meta property="og:pageUrl" content="<$ request.scheme $>://<$ request.META.HTTP_HOST $><$ request.path_info $>">


  <script type="text/javascript">
    window.appInfo = {
      appId: '<$ ctx.app.config.appId $>',
      upload: '/<$ ctx.app.config.appId $>/upload',
      public: '/<$ ctx.app.config.appId $>/public',
      userAgent: navigator.userAgent || '',
    }
    if (window.appInfo.userAgent.length > 127) {
      window.appInfo.userAgent = window.appInfo.userAgent.substring(0, 126);
    }
  </script>

  <!-- OGP分享协议结束 -->
  <title>{% block title %}{% endblock %} - <$ ctx.app.config.appTitle $></title>
  <!-- MDB -->
  <link rel="stylesheet" href="<$ static $>/mdbootstrap/font-awesome.6.1.1.min.css"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&amp;display=swap"/>
  <link rel="stylesheet" href="<$ static $>/mdbootstrap/MDB5-Pro-Advanced_4.4.0.min.css"/>
  <link rel="stylesheet" href="<$ static $>/mdbootstrap/MDB5-Pro-Advanced_4.4.0.all.min.css"/>
  <!-- css -->
  {% include 'util/jianghu/jianghuUiCss.html' %}
  {% include 'util/jianghu/jianghuCommonCss.html' %}
  <!-- js -->
  <script src="<$ static $>/js/lib/jquery.min.js?v=1.0.5"></script>
  <script src="<$ static $>/jquery/jquery.cookie.min.js?v=1.0.5"></script>
  <script src="<$ static $>/js/lib/lodash.min.js?v=1.0.5"></script>
  <script src='<$ static $>/js/lib/axios.min.js'></script>
  {% include 'util/jianghu/jianghuPageJs.html' %}
  <!-- <script async defer type='module' data-host-url='<$ ctx.app.config.junshiHost $>'
    data-website-id='<$ ctx.app.config.junshiWebsiteUuid $>'
    src='<$ ctx.app.config.junshiHost $>/junshi/public/js/client/junshi.js'></script> -->
    
  {% block css %}{% endblock %}
</head>

<body data-mdb-target="#scrollspy" data-mdb-offset="0" class="grey-bg">
  {% include 'common/jianghuAxios.html' %}
  <!-- header -->
  <header class="VPNav nav-bar">
    <div class="VPNavBar">
      <div class="jianghu-header-mobile-container">
        <a class="VPNavBarTitle jianghu-logo-text" href="/">
          <img
              src="<$ ctx.app.config.appLogo $>"
              class="jianghu-header-mobile-logo"
              alt="openjianghu"
          />
          <span class="text"><$ constantUiMap.header.title | safe $></span>
        </a>
        <div class="jianghu-header-mobile-content">
            <!-- 搜索 -->
            <!-- <div class="VPNavBarSearch search" style="flex-grow: 1;">
              <div id="docsearch">
                <button type="button" class="DocSearch DocSearch-Button" aria-label="Search">
                  <span class="DocSearch-Button-Container">
                      <input type="text" id="form12" class="form-control form-control-sm" placeholder="Search" style="width: 220px;border-radius: 20px;"/>
                  </span>
                </button>
              </div>
            </div> -->
            <div class="VPNavBarSearch search">
              <div id="docsearch" data-mdb-toggle="modal" data-mdb-target="#searchModal">
                <button type="button" class="DocSearch DocSearch-Button" aria-label="Search">
                  <span class="DocSearch-Button-Container">
                    <svg width="20" height="20" class="DocSearch-Search-Icon" viewBox="0 0 20 20">
                      <path d="M14.386 14.386l4.0877 4.0877-4.0877-4.0877c-2.9418 2.9419-7.7115 2.9419-10.6533 0-2.9419-2.9418-2.9419-7.7115 0-10.6533 2.9418-2.9419 7.7115-2.9419 10.6533 0 2.9419 2.9418 2.9419 7.7115 0 10.6533z" stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <span class="DocSearch-Button-Placeholder">Search</span>
                  </span>
                  <span class="DocSearch-Button-Keys"><kbd class="DocSearch-Button-Key" id="search-ctrlKey">⌘</kbd><kbd class="DocSearch-Button-Key">K</kbd></span>
                </button>
              </div>
            </div>
            
            <!-- 菜单 -->
            <nav aria-labelledby="main-nav-aria-label" class="VPNavBarMenu menu">
              <!-- <a class="vt-link link VPNavBarMenuLink active" href="/">首页</a> -->
              <!-- 已登录才可见菜单 -->
              {% if userInfo.userId %}
                  <!-- <a class="vt-link link VPNavBarMenuLink" href="/settings">设置</a>
                  <a class="vt-link link VPNavScreenMenuLink" href="/member/<$ userInfo.userId $>"><$ userInfo.username $></a> -->
              {% endif %}
            </nav>

            <!-- 用户 -->
            <nav aria-labelledby="main-nav-aria-label" class="VPNavBarMenu menu">
              <div class="vt-flyout VPNavBarMenuGroup">
                <button type="button" class="vt-flyout-button" aria-haspopup="true" aria-expanded="false" aria-label="extra navigation">
                  <span class="vt-flyout-button-text">
                    {% if username %}
                      <$ username $>
                      {% else %}
                      <$ constantUiMap.button.visitor $>
                    {% endif %}
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" viewBox="0 0 24 24" class="vt-flyout-button-text-icon">
                      <path d="M12,16c-0.3,0-0.5-0.1-0.7-0.3l-6-6c-0.4-0.4-0.4-1,0-1.4s1-0.4,1.4,0l5.3,5.3l5.3-5.3c0.4-0.4,1-0.4,1.4,0s0.4,1,0,1.4l-6,6C12.5,15.9,12.3,16,12,16z"></path></svg>
                  </span>
                </button>
                <div class="vt-flyout-menu">
                  <div class="vt-menu">
                    <div class="vt-menu-items">
                      {% if username %}
                      <a class="vt-link link vt-menu-link" href="javascript:void(0);" title="<$ constantUiMap.button.logout $>" onclick="logout()"><$ constantUiMap.button.logout $></a>
                      {% else %}
                      <div class="text-center">
                        <a href="<$ pageUrl $>/login" role="button" class="jianghu-button-primary me-0" style="padding: 3px 16px;"><$ constantUiMap.button.login $></a>
                        <div class="mt-3">
                          <span>还没有账号?</span>
                          <a href="<$ pageUrl $>/register" class="text-success">注册</a>
                        </div>
                      </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </nav>

            <!-- 手机端menu icon -->
            <button id="jianghu-mobile-toggle-navBarMenus" type="button" class="vt-hamburger VPNavBarHamburger hamburger" aria-label="mobile navigation" aria-expanded="false" aria-controls="VPNavScreen">
              <svg t="1656740813244" class="icon jianghu-toggleNavBarMenus-menuIcon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="13445" width="18" height="18"><path d="M128 170.666667h768v85.333333H128V170.666667z m256 298.666666h512v85.333334H384v-85.333334z m-256 298.666667h768v85.333333H128v-85.333333z" p-id="13446" fill="#213547"></path></svg>
              <svg t="1656740533679" class="icon closeIcon jianghu-toggleNavBarMenus-closeIcon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="6749" width="18" height="18"><path d="M597.795527 511.488347 813.564755 295.718095c23.833825-23.833825 23.833825-62.47489 0.001023-86.307691-23.832801-23.832801-62.47489-23.833825-86.307691 0L511.487835 425.180656 295.717583 209.410404c-23.833825-23.833825-62.475913-23.833825-86.307691 0-23.832801 23.832801-23.833825 62.47489 0 86.308715l215.769228 215.769228L209.410915 727.258599c-23.833825 23.833825-23.833825 62.47489 0 86.307691 23.832801 23.833825 62.473867 23.833825 86.307691 0l215.768205-215.768205 215.769228 215.769228c23.834848 23.833825 62.475913 23.832801 86.308715 0 23.833825-23.833825 23.833825-62.47489 0-86.307691L597.795527 511.488347z" p-id="6750" fill="#767676"></path></svg>
            </button>
            <!-- 手机端user icon -->
            <button id="jianghu-mobile-toggle-userCenter" type="button" class="vt-hamburger VPNavBarHamburger hamburger" aria-label="mobile navigation" aria-expanded="false" aria-controls="VPNavScreen">
              <svg t="1656740949404" class="icon jianghu-toggleUserCenter-userIcon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="14557" width="18" height="18"><path d="M858.5 763.6c-18.9-44.8-46.1-85-80.6-119.5-34.5-34.5-74.7-61.6-119.5-80.6-0.4-0.2-0.8-0.3-1.2-0.5C719.5 518 760 444.7 760 362c0-137-111-248-248-248S264 225 264 362c0 82.7 40.5 156 102.8 201.1-0.4 0.2-0.8 0.3-1.2 0.5-44.8 18.9-85 46-119.5 80.6-34.5 34.5-61.6 74.7-80.6 119.5C146.9 807.5 137 854 136 901.8c-0.1 4.5 3.5 8.2 8 8.2h60c4.4 0 7.9-3.5 8-7.8 2-77.2 33-149.5 87.8-204.3 56.7-56.7 132-87.9 212.2-87.9s155.5 31.2 212.2 87.9C779 752.7 810 825 812 902.2c0.1 4.4 3.6 7.8 8 7.8h60c4.5 0 8.1-3.7 8-8.2-1-47.8-10.9-94.3-29.5-138.2zM512 534c-45.9 0-89.1-17.9-121.6-50.4S340 407.9 340 362c0-45.9 17.9-89.1 50.4-121.6S466.1 190 512 190s89.1 17.9 121.6 50.4S684 316.1 684 362c0 45.9-17.9 89.1-50.4 121.6S557.9 534 512 534z" p-id="14558" fill="#213547"></path></svg>
              <svg t="1656740533679" class="icon closeIcon jianghu-toggleUserCenter-closeIcon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="6749" width="18" height="18"><path d="M597.795527 511.488347 813.564755 295.718095c23.833825-23.833825 23.833825-62.47489 0.001023-86.307691-23.832801-23.832801-62.47489-23.833825-86.307691 0L511.487835 425.180656 295.717583 209.410404c-23.833825-23.833825-62.475913-23.833825-86.307691 0-23.832801 23.832801-23.833825 62.47489 0 86.308715l215.769228 215.769228L209.410915 727.258599c-23.833825 23.833825-23.833825 62.47489 0 86.307691 23.832801 23.833825 62.473867 23.833825 86.307691 0l215.768205-215.768205 215.769228 215.769228c23.834848 23.833825 62.475913 23.832801 86.308715 0 23.833825-23.833825 23.833825-62.47489 0-86.307691L597.795527 511.488347z" p-id="6750" fill="#767676"></path></svg>
            </button>
        </div>
      </div>
    </div>

    <!-- 手机端menu -->
    <div class="VPNavScreen" id="jianghu-header-mobile-navBarMenus">
      <div class="jianghu-header-mobile-NavScreen-container">
        <nav class="VPNavScreenMenu menu">
          <a class="vt-link link VPNavScreenMenuLink active" href="/">首页</a>
          {% if userInfo.userId %}
              <a class="vt-link link VPNavScreenMenuLink" href="/settings">设置</a>
              <a class="vt-link link VPNavScreenMenuLink" href="/member/<$ userInfo.userId $>"><$ userInfo.username $></a>
          {% endif %} 
        </nav>
      </div>
    </div>
    <!-- 手机端user dropdown-menu -->
    <div class="VPNavScreen" id="jianghu-header-mobile-userCenter">
      <div class="jianghu-header-mobile-NavScreen-container">
        <nav class="VPNavScreenMenu menu">
          {% if userId %}
            <a class="vt-link link VPNavScreenMenuLink" href="javascript:void(0);" title="<$ constantUiMap.button.logout $>" onclick="logout()"><$ constantUiMap.button.logout $></a>
          {% else %}
          <a class="vt-link link VPNavScreenMenuLink" href="<$ pageUrl $>/login"><$ constantUiMap.button.login $></a>
          {% endif %}
        </nav>
      </div>
    </div>
  </header>

  <!-- 搜索 -->
  <div class="modal fade" id="searchModal" data-mdb-keyboard="false" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
       <div class="modal-header">
         <h6 class="modal-title" id="changePwdModalLabel"><$ constantUiMap.button.search $></h6>
         <a role="button" data-mdb-dismiss="modal">
           Cancel
         </a>
       </div>
        <div class="modal-body">
             <input id="search-bar-input" class="form-control" placeholder="Search" style="border-radius: 20px;"/>
        </div>
      </div>
    </div>
  </div>

  {% block content %}{% endblock %}

  <!-- Footer -->
  <footer class="text-center text-lg-start bg-white text-muted">
    <section class="d-md-flex justify-content-center justify-content-xl-between py-4 mx-auto fs-7 max-width">
      <div class="me-md-5">
        <span class="text-grayish"><$ constantUiMap.footer.copyright $></span>
      </div>
      <div class="mt-2 mt-sm-0">
        {% for link in links %}
            <a href="<$ pageUrl $>/about" class="{% if loop.index !== 1 %}ms-4{% endif %} text-reset">
              <$ link.name $>
            </a>
        {% endfor %}
      </div>
    </section>
</footer>
  <!--  mdb js -->
  <script type="text/javascript" src="<$ static $>/mdbootstrap/MDB5-Pro-Advanced_4.4.0.mdb.min.js"></script>
  <script type="text/javascript" src="<$ static $>/mdbootstrap/MDB5-Pro-Advanced_4.4.0.all.min.js"></script>
  {% include 'util/jianghu/jianghuJs.html' %}
  <script type="text/javascript">
    const pageUrl = "<$ pageUrl $>";
    const adminUrl = "<$ adminUrl $>";
    const userId = "<$ userId $>";
    const username = "<$ username $>";

    // 全局提示
    window.vtoast = {
      success: ({message}) => {
        showSuccessAlert(message)
      },
      fail: ({message}) => {
        showFailAlert(message)
      },
      loading: () => {
        showLoading()
      },
      hideLoading: () => {
        hideLoading()
      }
    };
    // 退出登录
    async function logout() {
        $.removeCookie('<$ appId $>_authToken', { path: '/' });
        localStorage.removeItem('<$ appId $>_authToken');
        setTimeout(() => {
          location.reload();
        }, 360)
    }

    // 错误提示
    const searchParams = new URLSearchParams(location.search.substring(1));
    const errorInfo =  JSON.parse('<$ constantUiMap.errorInfo | dump | safe $>');
    const errorCode = searchParams.get('errorCode');
    const errorReason = searchParams.get('errorReason');
    if (errorCode) {
      showFailAlert(errorInfo.contentEnum[errorCode] || errorReason)
    }

    $(function() {
      const searchModal = new mdb.Modal($('#searchModal'))
      // 键盘事件
      $(document).keydown(function (event) {
          const keyname = event.key.toLocaleLowerCase();
          // 【ctrl + k || command + k】 打开搜索框
          if ((event.ctrlKey || event.metaKey) && keyname === 'k') {
            searchModal.show()
          }
      })
      // search 快捷键提示
      let userAgent = navigator.userAgent.toLowerCase();
      if (userAgent.indexOf('mac') > -1) {
        $('#search-ctrlKey').text('⌘')
      }else{
        $('#search-ctrlKey').text('ctrl')
      }
    })
  </script>
  {% block javascript %}{% endblock %}
</body>
