{% extends 'template/jhTemplateV3.html'%}

{% block vue_template %}

<jh-layout-v3>

<!-- 页面主要内容 -->
<v-container class="fullScreen d-flex flex-column pa-0">
  <v-card class="pa-4">
    <v-row class="px-4">
      <v-col cols="6" class="pa-8">
        <h2 class="mb-4">How Can We Help You?</h2>
        <v-text-field
          name="name"
          label="label"
          id="id"
          single-line
          outlined
          prepend-inner-icon="mdi-magnify"
        ></v-text-field>
      </v-col>
      <v-col cols="6">
      </v-col>
    </v-row>
    <v-card class="pa-4 grey lighten-5" :class="{'px-2': isMobile}">
      <v-tabs
        v-model="menu"
        v-if="!isMobile"
        show-arrows
        slider-size="0"
        color="success"
      >
        <template v-for="item in menuList">
          <v-tab
              class="px-5 topTab"
              active-class="topTabActive"
              :key="item.id"
          >
            {{ item.title }}
          </v-tab>
        </template>
      </v-tabs>
    </v-card>
  </v-card>
  <v-card class="mt-4 pa-8">
    <v-row>
      <v-col cols="12" md="8">
        <v-text-field
          name="name"
          label="label"
          id="id"
          filled
          prepend-inner-icon="mdi-magnify"
        ></v-text-field>
        <v-list-item one-line>
          <v-list-item-content>
            <h2>Public Tickets</h2>
          </v-list-item-content>
        </v-list-item>
        <v-list-item three-line v-for="item in list" :key="item.id">
          <v-list-item-icon>
            <v-icon v-text="item.icon"></v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <h3>{{item.title}}</h3>
            <v-list-item-subtitle>
              {{item.desc}}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <div class="text-center">
          <v-pagination
            v-model="page"
            :length="6"
          ></v-pagination>
        </div>
      </v-col>
      <v-col cols="12" md="4">
          <v-row>
            <v-col cols="12" md="12">
              <v-card class="pa-8 light-blue lighten-5">
                <v-list-item three-line>
                  <v-list-item-content>
                    <h2>More Channels</h2>
                  </v-list-item-content>
                </v-list-item>
                <v-list-item three-line v-for="item in list" :key="item.id">
                  <v-list-item-icon>
                    <v-icon v-text="item.icon"></v-icon>
                  </v-list-item-icon>
                  <v-list-item-content>
                    <h3>{{item.title}}</h3>
                    <v-list-item-subtitle>
                      {{item.desc}}
                    </v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-card>
            </v-col>
            <v-col cols="12" md="12">
              <v-card class="pa-8 light-blue lighten-5">
                <v-list-item three-line>
                  <v-list-item-content>
                    <h2>Documentation</h2>
                  </v-list-item-content>
                </v-list-item>
                <v-list-item one-line v-for="item in list" :key="item.id">
                  <v-btn text>
                    <v-icon left>
                      mdi-pencil
                    </v-icon>
                    {{item.title}}</v-btn>
                </v-list-item>
              </v-card>
            </v-col>
          </v-row>
      </v-col>
    </v-row>
  </v-card>

</v-container>

</jh-layout-v3>

{% endblock %}

{% block vue_body %}

<script type="module">
new Vue({
  el: '#app',
  template: '#app-template',
  vueComponent: 'page',
  vuetify: new Vuetify(),
  mixins: [window.jianghuUiActionMixins],
  data: {
    menu:1,
    menuList: [
      {title: 'OVERVIEW', id: 1},
      {title: 'TICKETS', id: 2},
      {title: 'TUTORIALS', id: 3},
      {title: 'FAQ', id: 4},
      {title: 'LICENSES', id: 5}
    ],
    list: [
      {title: 'Project Briefing', desc: 'Secondary line text Lorem ipsum dolor sit amet,', icon: 'mdi-text-search', id: 1},
      {title: 'More to discuss?', desc: 'Secondary line text Lorem ipsum dolor sit amet,', icon: 'mdi-text-search', id: 2}
    ],
    page: 2,
  },
  computed: {
    isMobile() {
      return window.innerWidth < 600;
    },
  },
  watch: {},
  mounted() {
  },
  methods: {
  }
})
</script>

<style scoped>
  .theme--light.v-tabs>.v-tabs-bar {
    background-color: unset;
  }
  .topTabActive {
    background: rgba(0,0,0,0.1);
  }

  .topTab {
      border-radius: 5px;
  }
</style>
{% endblock %}
