<!--oaForm.html start-->
<template id="oaForm">
  <v-row class="pa-0 ma-0 pa-xs-4 pb-xs-4 flex-none">
    <template v-for="(item, index) of sortedHeaders">
      <template v-if="item.edit != false">
        <v-col v-if="item.type !== 'textarea' && item.type !== 'searchMultiple'" cols="12" sm="12" md="4" xl="3"
        :class="{'px-10': !isMobile, 'px-3': isMobile, 'pb-7': isMobile}">
          <span class="inputLabel">{{item.text}}</span>
          <!-- 下拉框 -->
          <v-select v-if="item.type === 'select'" :disabled="item.disabled" class="cus-v-input mr-2" dense filled single-line clearable color="success"
            v-model="editItem[item.value]" :items="constantCollection[item.value]"
            :rules="item.required && requireRules"></v-select>
          <!-- 时间选择器 -->
          <v-menu v-else-if="item.type === 'date'" class="cus-v-input mr-2" offset-y max-width="290">
            <template v-slot:activator="{ on, attrs }">
              <v-text-field class="cus-v-input mr-2" :rules="item.required && requireRules" dense filled single-line v-on="on"
                :value="editItem[item.value]"></v-text-field>
            </template>
            <v-date-picker color="success" elevation="20" v-model="editItem[item.value]"></v-date-picker>
          </v-menu>
          <!-- 单选搜索框 -->
          <v-autocomplete v-else-if="item.type === 'searchOne'" :disabled="item.disabled" class="cus-v-input mr-2" dense filled single-line
            v-model="editItem[item.value]" :items="constantCollection[item.value]" :filter="customFilter"
           ></v-autocomplete>

          <!-- 普通文本框 -->
          <v-text-field v-else-if="item.type === 'number'" class="cus-v-input mr-2" :disabled="item.disabled" dense filled single-line color="success"
            type="number" v-model="editItem[item.value]" :rules="item.required && requireRules"></v-text-field>

          <!-- 普通文本框 -->
          <v-text-field v-else class="cus-v-input mr-2" :disabled="item.disabled" dense filled single-line color="success"
            v-model="editItem[item.value]" :rules="item.required && requireRules"></v-text-field>
        </v-col>
        <v-col v-else cols="12" sm="12" md="12" xl="12" class="pa-xs-0 pb-xs-4 pb-3"  :class="{'px-10': !isMobile, 'px-3': isMobile, 'pb-7': isMobile}">
          <span class="inputLabel">{{item.text}}</span>
          <!-- 多行编辑器 -->
          <v-textarea v-if="item.type === 'textarea'" :disabled="item.disabled" class="cus-v-input mr-2" dense filled single-line color="success"
            :rules="item.required && requireRules" v-model="editItem[item.value]"></v-textarea>
          <!-- 多选搜索框 -->
          <v-autocomplete v-else-if="item.type === 'searchMultiple'" class="cus-v-input mr-2"
            v-model="editItem[item.value]" :items="constantCollection[item.value]" dense chips filled single-line
            :disabled="item.disabled"
            multiple>
            <template v-slot:selection="data">
              <v-chip small dense v-bind="data.attrs" :input-value="data.selected" close @click="data.select"
                @click:close="searchMultipleRemove(data.item, item.value)">
                {{ data.item.text }}
              </v-chip>
            </template>
          </v-autocomplete>
        </v-col>
      </template>
    </template>
  </v-row>
</template>
<script>
  // type：字段类型[textarea: 多行文本框，select：下拉框，input：输入框，date：时间选择, searchMultiple: 多选，searchOne: 单选]
  Vue.component("oa-form", {
    vuetify: new Vuetify(),
    name: 'oa-form',
    data: () => ({
      requireRules: [v => !!v || 'This is required'],
    }),
    props: {
      headers: { type: Array, default: [] },
      editItem: { type: Object, default: {} },
      constantCollection: { type: Object, default: {} },
    },
    computed: {
      isMobile() {
        return window.innerWidth < 600;
      },
      sortedHeaders() {
        return this.headers.slice().sort((a, b) => {
          return (a.type === 'textarea') - (b.type === 'textarea')
        });
      }
    },
    watch: {
    },
    async created() {
    },
    methods: {
      customFilter(item, queryText, itemText) {
        const textOne = item.text.toLowerCase()
        const textTwo = item.value.toLowerCase()
        const searchText = queryText.toLowerCase()
        return textOne.indexOf(searchText) > -1 ||
          textTwo.indexOf(searchText) > -1
      },
      searchMultipleRemove(item, key) {
        this.editItem[key] = this.editItem[key].filter(v => item.value != v);
      }
    },
    template: '#oaForm'
  })
</script>
<!--oaForm.html end-->
